attrs==19.3.0
importlib-metadata==1.5.0
more-itertools==8.2.0
mpmath==1.1.0
packaging==20.1
pluggy==0.13.1
py==1.10.0
pycryptodome==3.9.7
pyparsing==2.4.6
pytest==5.3.5
scapy==2.4.3
simpy==3.0.11
six==1.14.0
sympy==1.5.1
wcwidth==0.1.8
zipp==3.0.0
